.Launch{
    display: flex;
    height: 220px;
    width: 1000px;
    box-shadow: 1px 1px 9px 1px darkgray;
    margin-left: 20px;
    margin-top: 20px;
    cursor: pointer;
}

.Launch img{
    height: 200px;
    width: 200px;
    margin: 5px;
}

.content{
    margin-left: 20px;
    width: 80%;
}

.content .info{
    display: flex;
    justify-content: space-between;
    color: cadetblue;
}

.content p{
    font-size: 20px;
    display: -webkit-box;
    -webkit-line-clamp:3;
    -webkit-box-orient: vertical;
    line-height: 30px;
    overflow: hidden;
    margin-top: 20px;
    color: gray;
}